# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=zKXHe-Ahdb7aPK1ylAJlRgTefktEaACi
APP_URL=http://localhost:${PORT}

# Session
SESSION_DRIVER=cookie

# CORS
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# Database (container mysql)
DB_HOST=mysql
DB_PORT=3306
DB_USER=beTalent
DB_PASSWORD=beTalent2026
DB_DATABASE=teste_pratico_backend

# MySQL DB
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=teste_pratico_backend
MYSQL_USER=beTalent
MYSQL_PASSWORD=beTalent2026

# Gateways (containers)
GATEWAY_1_BASE_URL=http://gateways-mock:3001
GATEWAY_2_BASE_URL=http://gateways-mock:3002

# Create ADMIN USER
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD="teste123@"
